.lost-page{
   display:flex;
   justify-content:center;
   align-items:center;
   align-self:center;
   height:100vh;
   width:100vw;
   flex-wrap:wrap;
}

.lost-big{
    font-size:30vh;
    font-weight:bold;
    flex-basis:100%;
    text-align:center;
}

.lost-icon::after{
    content:"\f119";
    font-family:"fontAwesome";
}
  
   

.lost-big span{
    margin:0 7vw;
}

.lost-big h1{
    font-weight:bold;
    font-size:15vh;
}
  
.lost-big span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 43.2vw;
    transform: translate(-50%, -50%);
    font-size: 25vh;
    animation: jump 1.2s infinite;
}
.lost-big h1{
    font-weight:bold;
    font-size:15vh;
}
  
.lost-big span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 43.2vw;
    transform: translate(-50%, -50%);
    font-size: 25vh;
    animation: jump 1.2s infinite;
}


@keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -100%) scale(1, 1); }
    55% { transform: translate(-50%, -100%) rotate(15deg); }
    60% { transform: translate(-50%, -100%) rotate(-15deg); }
    65% { transform: translate(-50%, -100%) rotate(15deg); }
    70% { transform: translate(-50%, -100%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}

@media only screen and (max-width: 600px){
    .lost-big span:nth-child(2) {
        top: 40%;
        left:35%;
        font-size: 15vh;
    }
    
    .lost-big h1{
        font-weight:bold;
        font-size:10vh;
    }
      
    .lost-big span {
        font-size: 15vh;
        margin: 0 15vw;
    }
}
