<!DOCTYPE html>
<html>
<body>


<div style="
    background-color: aliceblue;
    text-align: center;
    border: solid 1px;
    padding: 12vh;
    margin: auto;
    width: 40%;">
    <img width=200px src="https://hellomeir.com/upload/images/1629658681075.jpg" />
    <h1>the title message</h1>
    <p style="
        font-size: 20px;
        letter-spacing: 0.3px;">
        lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor, lorum ipsum dlor
    </p>
</div>
    <btn style=" 
        display: block;
        margin: auto;
        width: fit-content;
        padding: 7px 15px;
        color: white;
        background-color: #c51d1d;
        border-radius: 50px;
        cursor: pointer;
        margin-top:20px;">
        remove me from list
    </btn>


</body>
</html>

